<link rel="stylesheet" href="views/css/form.css">

<form method="POST" action="controller/data_verification.php" id="form_inicio">

    <h2>Iniciar sesión</h2>
    <hr>
    <br>

    <label for="email_inicio_html">Email:</label> <br/>
    <input type="text" id="email_inicio_html" name = "email"> <br/>

    <label for="pass_inicio_html">Contraseña:</label> <br/>
    <input type="password" id="pass_inicio_html" name="pass"> <br/>

    <br>

    <input type="submit" value="Enviar">

    <br/>
    <br/>

    <a href="index.php?pag=registro" >Si no tiene una cuenta registrada, puede hacerlo haciendo click aquí</a><br/>
</form>