<link rel="stylesheet" href="views/css/form.css">

<form method="POST" action="controller/data_registration.php" id="form_inicio">

    <h2>Registrar</h2>
    <hr>
    <br>
    <label for="nombre_inicio_html">Nombre:</label> <br/>
    <input type="text" id="nombre_inicio_html" name="nombre"> <br/>

    <label for="email_inicio_html">Email:</label> <br/>
    <input type="text" id="email_inicio_html" name = "email"> <br/>

    <label for="pass_inicio_html">Contraseña:</label> <br/>
    <input type="password" id="pass_inicio_html" name="pass"> <br/>

    <label for="pass_inicio_html">Confirmar contraseña:</label><br/>
    <input type="password" id="pass_inicio_html" name="confirm_pass"> <br/>

    <br>

    <input type="submit" value="Enviar">
</form>