<meta charset="UTF-8">

<style>
    #message_yet{
        background-color: white;
        width: 350px;
        padding-top: 20px;
        padding-left: 30px;
        height: 210px;
        box-shadow: 0 0 20px 0px black;
        -webkit-box-shadow: 0 0 20px 0px black;
        color: rgb(1, 126, 88);
        font-size: 30px;
        margin: 30px auto;
    }

    #message_yet span{
        color: white;
        background-color: teal;
        clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    }

    #message_yet span span{
        color: transparent;
    }

    #message_yet a{
        text-decoration: none;
        color: rgb(16, 133, 98);
        border: 2px solid rgb(1, 126, 88);
        padding: 5px 20px;
        font-size: 20px;
    }

    #message_yet a{transition: .3s;}

    #message_yet a:hover{
        background-color: rgb(16, 133, 98);
        color: white;
    }
</style>

<div id="message_yet">
    <span><span>a</span> ! <span>a</span></span> Tu cuenta ya está registrada, por favor, inicie sesión <br><br>
    <div><a href="index_nsscj.php">Iniciar sesión</a></div>
</div>